<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Sessiondemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servletfirst</display-name>
    <servlet-name>servletfirst</servlet-name>
    <servlet-class>com.servletfirst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletfirst</servlet-name>
    <url-pattern>/servletfirst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletsecond</display-name>
    <servlet-name>servletsecond</servlet-name>
    <servlet-class>com.servletsecond</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletsecond</servlet-name>
    <url-pattern>/servletsecond</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletthird</display-name>
    <servlet-name>servletthird</servlet-name>
    <servlet-class>com.servletthird</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletthird</servlet-name>
    <url-pattern>/servletthird</url-pattern>
  </servlet-mapping>
</web-app>